nav{
    background-color: #3C65A2;
    height: 70px;
    display: flex;
    align-items: center;
    gap:30px;
    color: white;
}
nav p{
    margin-top: -20px;
}
.foto{
    height:480px ;
    width: 1287px;
}
.card {
    width: 360px;
    height: 254px;
    border-radius: 13px;
    background-color:#b1cdf7;
    margin-left: 460px; 
    margin-top: 30px; 
    padding: 10px;
}
.card1{
    background-color:#b1cdf7 ;
    height: 340px;
    width: 300px;
    border-radius:13px ;
    margin-top: 80px; 
    /* margin-left:100 px;  */
    padding: 11px;
    border:3px  #3C65A2;
    

}
.card33{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.img1{
    width: 320px;
    height: 360px;
    margin-top: 80px;
}
